.Hero{
    padding-top: 117px;
    background: #1A1A29;
}
.Hero__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Hero__info{
    max-width: 435px;
    h3{
        font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: white;
    }
    h2{
        font-size: 52px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: white;
    }
    p{
        font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
color:white;
    }
    span{
        display: flex;
        margin-top: 29px;
        button:nth-child(1){
            padding: 12px 25px;
            align-items: flex-start;
            gap: 6px;
            border-radius: 8px;
            background:  #7562E0;
           color: white;
           font-size: 16px;
           font-style: normal;
           font-weight: 600;
           line-height: normal;
        }
        button:nth-child(2){
            border-radius: 8px;
            border: 2px solid  #7562E0;
            padding: 12px 34px;
            align-items: flex-start;
            gap: 5px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            background: transparent;
            color: white;
        }
    }
}
.Hero__img{
    width: 486px;
    overflow: hidden;
 position: relative;
 img{
    position: relative;
    z-index: 5;
    bottom: -6px;
 }
 span{
    display: block;
    width: 486px;
    height: 486px;
    z-index: 2;
   position: absolute;
   border-radius: 50%;
   background-color: #7562E0;
    bottom: -90px;
    left: 0px;
 }
}