.Header{
    background: #181824;
    padding-top: 19px 160px;
    position: fixed;
    width: 100%;
}
.Headers{
    background:grey;
    padding-top: 19px 160px;
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
color:  #7562E0;
 font-size: 28px;
 font-style: normal;
 font-weight: 600;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__item{
        font-size: 18px;
        margin-left: 50px;
        a{ 
            color: white;
        }
        .actives{
            color: #7562E0;
        }
    }
}