*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type:none;
}
a{
    text-decoration: none;
}
.App{
    
    height: 636px;
    width: 1130px;
    background-image: url('./img/Bitmap.png');
    background-repeat: no-repeat;
    margin-left: 115px;
    }